# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDEs e editores de código
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de ambiente (boa prática)
.env

# Arquivos de log
*.log